<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADV Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body style="padding: 20px; text-align: center">
    <h3 style="font-weight: bold">Welcome</h3>
    <p style="color: gray">E-Shop by Reyhan Zada Virgiwibowo</p>
    <div style="display: flex; gap: 10px; justify-content: center">
        <a href="/product/list"><button class="btn btn-primary">Product List</button></a>
        <a href="/car/listCar"><button class="btn btn-primary">Car List</button></a>
    </div>
</body>
</html>